.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  padding: .1333rem .2667rem;
  font-size: .48rem;
  line-height: 1.5;
  color: #63636b;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
}

.listItem {
  display: flex;
  flex-direction: row;
  padding-right: .2667rem;
}

.lightText {
  color: #666;
}
.profileImg {
  margin: .2667rem;
  
  width: 2.4rem;
  height: 2.4rem;
}

.profileImg > img {
  width: 100%;
  border-radius: .1333rem;
}

.content {
  flex: 1;
  padding-top: .2667rem;
}

.content .contentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content .contentTitle .name {
  font-size: .4267rem;
  color: #32394a;
  font-weight: bold;
}
.content .contentTitle .tags {
  font-size: .32rem;
  margin-right: .1333rem;
}
.content .contentTitle .price {
  font-size: .3733rem;
  color: #ff8181;
}


.content .contentIntor {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #8e9abd;
  font-size: .32rem;
}

.detailContent {
  padding: .1333rem .4rem;
  display: flex;
  flex-direction: column;
  color: #32394a;
}


.quote {
  color: #32394a;
  font-size: 16px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: .2667rem;
}

.price {
  font-size: .3733rem;
  color: #ff8181;
  font-weight: bold;
}

.time {
  font-size: .3733rem;
  color: #9da8c8;
  margin-bottom: .08rem;
}

.tags {
  font-size: .37333rem;
  font-weight: 600;
  color: #5c6ea3;
  margin-bottom: .2667rem;
}

.title {
  font-size: .5333rem;
  font-weight: bold;
  margin: .4rem 0;
}


.intor {
  font-size: .3733rem;
  color: #5c6ea3;
}

.card {
  font-size: .64rem;
  color: #32394a;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .1333rem .5333rem;
  width: 40%;
  /* border: 1px solid #eaeaea; */
  border-radius: .1333rem;
  margin: .2667rem;
  box-shadow:  inset 0 0 0px 1px #eaeaea;
}

.cardText {
  color: #9da8c8;
  font-size: .3733rem;
}

.direction {
  font-size: .4267rem;
  color: #32394a;
  font-weight: bold;
}

.add {
  font-size: .32rem;
  color: #63636b;
  position: relative;
  bottom: .2667rem;
  margin-left: .1333rem;
}